
<div class="container">
  <div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[0].url" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Cashew farm</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[1].url" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Young Cashew fruits.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[2].url" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Cashew fruits.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[3].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Mature cashew fruits.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[4].url" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Nursery - Cashew trees.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[5].url" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Cashew tree and spiral branches.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[6].url" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Cashew nut shell: Biomedical and nanotech applications.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[7].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cashew nut trees aligned.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[8].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cashew apples.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[9].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Grade A Cashew kernel.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[10].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cashew fruits.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[11].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Dried Raw Cashew Nut In Shell (NIS).</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[12].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cross Pollination: Bee worker.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[13].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cross Pollination: Another honeybee worker.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[14].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cross Pollination: Beehives in the farm.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[15].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Cross Pollination: Beehive - Extra income to farmers.</h3>
            <p>This carousel uses images from Google.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
