<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Grow your wealth with passive investments in farming.</h3>
      <p>
        <code><b>Growing populations will require more food.</b></code>
        <br />
        Agricultural production is one of the oldest, most profitable investments available. With each passing year, the world must feed more people with less arable land.
        Global demographics will continue those trends as the earth's population grows by another three billion people in the next few decades. In a time of financial uncertainty,
        there is no better asset to own than income-producing farm. These investments provide tangible yields derived from naturally produced products and have beaten the returns
        from other asset classes for years.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br />
  <div class="row"><h4>&nbsp;&nbsp;The key benefits of investing in farming.</h4></div>

  <div class="row">
    <div class="col-md-12 benefit">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            For the past 22 years, investments in U.S. farms have achieved attractive total returns relative to asset classes like stocks, bonds and real estate,
            while also providing strong diversification benefits and protection from inflation. A global portfolio of agricultural assets should provide all these
            advantages, as well as the additional risk protection that comes from diversified exposure to the world’s economies.
          </p>
          <p class="card-text">
            Agribusiness, as measured by the U.S.-NCREIF Farmland Index, has outperformed both domestic stocks and bonds on an annualized basis over the last 22 years,
            providing both consistent income and capital appreciation. A global farm benchmark has not been developed. Yet, we believe a global portfolio can be expected
            to deliver higher returns, faster growth rates and lower valuations in emerging economies.
          </p>
          <p class="card-text">
            Over time, agricultural investment performance has moved in very different cycles from traditional asset classes like stocks and bonds; as a result,
            adding farmland to an investor’s portfolio enhances diversification and can result in lower volatility. Over the past 40 years, agricultural land has demonstrated
            a low performance correlation to both stock and bond indexes, meaning that land prices have generally risen as stocks have fallen and vice versa.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="row"><h4>&nbsp;&nbsp;How do we invest in agriculture.</h4></div>

  <ul>
    Different types of agricultural assets
    <li>
      <a href='https://get.asp.net/'>Permanent crops:</a> &nbsp; Permanent crops, such as cashew nuts, palm oil, coconut, apples, and cranberries, have a long lifespan, typically 25 years
      or more. They mature three to seven years after planting, so there is usually a lag between investment and realization of returns. Roughly 70% to 80% of the value of the investment
      is above the ground in the form of a tree that makes replanting annually cost-prohibitive. These crops historically have delivered higher average income returns than
      row crops, but they also have experienced higher volatility on a year-to-year basis.
    </li>
    <li>
      <a href='https://angular.io/'>Row crops:</a> &nbsp;  These crops are planted and harvested annually and include grains and oilseeds such as corn, soybeans and wheat. Typically, row
      crop investments produce more stable income returns over time since planting decisions can be made annually. A number of row crops, such as corn, soybeans, and sugarcane, are also
      used in the production of alternative fuels. Given their lower risk profile compared to permanent crops, row crops often serve as the core of a diversified portfolio.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Value-added investments:</a> &nbsp;  These are not agricultural investments per se, but instead are investments in related companies and
      technologies that aid in the processing, production, and distribution of food. They might include cashew nuts processing, palm oil refining, alternative fuel producers and distributors,
      grain storage and drying facilities, water treatment companies, and other allied businesses.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Small loans to farmers:</a> &nbsp;  We give small loans to farmers in our communities against the crops they will harvest later.
    </li>
  </ul>

</div>

