

<div class="container">
  <div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[0].url" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Palm Oil Trees Plantation Spacing.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[1].url" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Nursery: Young Palm Oil Tree with sprinkles on.</h3>
            <p>This carousel doesn't pause or resume on mouse events</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[2].url" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Palm Oil Trees in Nursery.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[3].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Palm Oil Tree Farm.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[4].url" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Nursery: Young Palm Oil Trees.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[5].url" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Dried Palm Oil Fibers.</h3>
            <p>This carousel doesn't pause or resume on mouse events</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[6].url" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Palm Oil Fruit.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[7].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Fresh Fruit Bunches.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[8].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Palm Kernel Shell: Biomedical and Nanotechnology Applications.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[9].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Crude Palm Oil.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[10].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Palm Kernel Nut.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[11].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Palm Kernel Cake.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid mx-auto d-block" [src]="images[12].url" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Crude Palm Kernel Oil (CPKO).</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

