<div class="container">

  <h1>Agriculture is Africa’s engine for growth. </h1>
  <!--
  <br />
  <app-carousel></app-carousel>
  <br />
  -->
  <p>
    Most African countries have determined to reduce their dependence on raw materials, particularly hydrocarbons given the drops in oil prices, and transform their
    economy to become an emergent nation by 2030. Agriculture accounts for nearly one-quarter of the continent’s GDP and employs almost two-thirds of its labor force,
    which is dominated by small holders who farm for subsistence or grow cash crops. But changes are under way. The past 15 years have witnessed deals that have led to
    the allocation of thousands of square kilometers of land for industrial-scale cultivation of crops, food, biofuels, and animal feed.
  </p>
  <p>
    With international demand for cashew and oil crops such as castor, oil palm, sesame, and sunflower forecast to increase, the relative ease of access to land, lower setup
    costs, and government incentives are likely to fuel agricultural expansion in Africa, even in the face of challenges such as price fluctuations. In some countries, Oil palm
    accounts for the largest portion of active investments on the continent. In others, Cashew Trees cultivation has led to a boom in villages.
  </p>
  <p>
    Africa produces around <code>40%</code> of the estimated 2.6 million metric tons of raw cashew every year. Although Africa is the leading producers of cashews in the world, processing is
    at a low development stage. Major cashew nut producing countries in Africa are Nigeria, Côte d'Ivoire, Ghana, Gambia, Mali, Benin, Tanzania, Mozambique, Kenya, and Senegal. <code>
      Less than 10%
    </code>of the raw cashew produced in the region is processed locally and remaining is processed in foreign countries after shipment.
  </p>

  <br />

  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p>
            <b>Tchokopas Enterprises</b> will contribute in making African countries brake that trend by investing (B2B) in firms processing cashew in Africa or creating processing firms in Africa.
            That will, in term, increase the foreign exchange in African countries and bring more foreign currencies into Africa. In the process, will help creating more jobs locally for African
            workers. The processing of cashew involves the following steps: Preliminary cleaning, Roasting, Shelling and separation, Drying, and Peeling.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <br />

  <h3 class="text-center"> Our Team</h3>

  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top rounded-circle" src="../Images/Employees/Pascal.jpg" alt="Card image cap">
        <div class="card-body">
          <p>Pascal Tagne</p>
          <h5 class="card-title">Managing Director, Co-Founder</h5>
          <p class="card-text">Prior to starting Tchokopas Enterprises, worked for 22 years as engineer in oil and gas companies and services. Holds a Master in Information Systems and MS in Electro-Mechanical Engineering.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top rounded-circle" src="../Images/Employees/Flaurent.jpg" alt="Card image cap">
        <div class="card-body">
          <p>Flaurent Fotso</p>
          <h5 class="card-title">Chiel Financial Officer</h5>
          <p class="card-text">Prior to joining the company, Flaurent worked for 20 years as accounting and auditor for various companies. Holds a BA in accounting and CPA (Certified Public Accounting).</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top rounded-circle" src="../Images/Employees/Gilbert.jpg" alt="Card image cap">
        <div class="card-body">
          <p>Gilbert Foko</p>
          <h5 class="card-title">Human Resources Director</h5>
          <p class="card-text">Master in Information Systems.</p>
          <p class="card-text">BS in Economical Sciences.</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

      <div class="card">
        <div class="card-body">
          <p>
            <b>Tchokopas Enterprises</b> employs five guidelines to ensure that its allocations to <code>agriculture</code> remain consistent with impact goals: they promote environmental stability,
            respect labor and human rights, respect existing land and resource rights, uphold high business and ethical standards, and produce regular reports on progress toward implementing the guidelines.
            This combination of ESG (Environmental, Social and Governance) factors increases the impact of such investments.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-4">
      <p>
        <b><code>Vision:</code></b>
        <br />
        Our vision is to empower countries in Africa economically and transformed the landscape of agrobusiness with partnership and opportunities.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b><code>Mission:</code></b>
        <br />
        Our mission is to help communities, businesses, and governments to deliver economic transformation that improves lives and to connect Businesses
        and Individuals to Build Vibrant Communities.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b><code>Long-term:</code></b>
        <br />
        Our long-term outcome is economic transformation and improved human well-being through diversified education, training, production, competitive exports, increased
        productivity, and upgraded technology.
      </p>
    </div>
  </div>

</div>

<br />
