<!-- Cashew nuts carousel -->


<div class="container">

  <h1>Cashew Nuts!</h1>
  <br />
  <app-carousel></app-carousel>
  <br />
  <p>
    Cashew plant is native of northeast Brazil, the Portuguese took it to Goa, India, between 1560 and 1565.
    From there, it spread throughout Southeast Asia and Africa. In the 21st century, cashew cultivation increased in several
    African countries to meet the demands for manufacturing cashew milk, a plant milk alternative to dairy milk,
    and foreign currencies.
  </p>
  <p> Commercial cultivation of cashew in Africa is growing by the day. It has improved the lives of small scale and commercial farmers significantly.</p>
  <ul>
    <li>
      <a href='https://get.asp.net/'>Soil:</a> &nbsp; The best soils for cashew are deep, friable well drained sandy loams with the pH level of around 5 - 6.5. and
      without a hard pan. Cashew also thrives on pure sandy soils although mineral deficiencies are more likely to occur. Water stagnation and flooding are not
      congenial for cashew.
    </li>
    <li>
      <a href='https://angular.io/'>Climate: </a> &nbsp; Cashew is a tropical plant and thrives at high temperatures. Young plants are sensitive to frost.
      Areas where the temperatures range from 20 to 30 degree Celsius with an annual precipitation of 1000 - 2000 mm are ideal for cashew growing.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Varieties: </a> &nbsp; Researchers in the field of cashew crop improvement have identified elite materials with yield potential
      ranging between 20-25 kg per tree. Seeds used varie per country.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Land Preparation: </a> &nbsp; It is better to select the land having good drainage and devoid of sub-surface hard rock or hard pan,
      for successful cultivation of cashew.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Layout and Planting: </a> &nbsp; Cashew trees are generally planted with a spacing of 7 to 8 meters (conventional) usually by the square system.
      More farmers are using high density (5 x 4 m) cashew spacing planting. Some are going further, using Ultra High Density (3 x 2 m or 3 x 3 m or 4 x 2 m) Cashew specing planting.
      The grafted plants obtained from the superior mother plant are usually planted after filling the pits (1 m3 size) with top soil and Farm Yard Manure at the onset of monsoon.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Manuring: </a> &nbsp; The nutritional requirements are N (Nitrogen), Phosphate, and Potassium. &nbsp;<code>Fertigation</code>&nbsp;as a precision agriculture
      tool can be used. Fertigation is a fertilizer application method in which dissolved fertilizers are delivered to the crop through the irrigation system. This technology provides the
      opportunity to apply precise rates of water and fertilizers to the crop, and therefore, if designed correctly, can be an important precision agriculture technology.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Weeding: </a> &nbsp; Timings of weeding are very important to minimise the cost. Slashing the weeds with the advancement of dry season is hardly beneficial.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Inter-cropping: </a> &nbsp; Inter crops which can replace weeds and as such would not compete for light, moisture and nutrients with cashew
      may be taken up. Inter-crops which can be harvested very early in the dry season or at the end of rainy season are very suitable. Tall growing inter crops like certain
      varieties of sorghum and millet should not be encouraged between young cashew, as they provide too much shade. Leguminous crops such as groundnuts and beans are very suitable
      for inter cropping.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Pests: </a> &nbsp; There are about 30 species of insects infesting cashew. Out of these tea mosquito,
      flower thrips and stem and root borer and fruit and nut borer are the major pests, which are reported to cause around 30% loss to the yield.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Diseases: </a> &nbsp; Fortunately cashew crop does not have any serious disease problem, except the powdery mildew caused by a fungus,
      which affects the young twigs and inflorescences and make it wither. This disease generally appears when the weather becomes cloudy. Control can be obtained by dusting
      with 2% sulphur W.P.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Harvesting and Yield: </a> &nbsp; Normally harvesting consists of reaping the nuts that have dropped to the ground after maturing.
      However, if the apples are also used for making jam, juice, syrup, etc., the fruit has to be harvested before it falls naturally. Plantations with conventional methods of
      cultivation yield less than one kg of raw nuts per tree. However, there is a chance to increase the yield up to 4 to 5 kg per tree with the adoption of improved production techniques
      , over a period of 4 to 5 years. In new plantations, with the use of elite planting material coupled with a package of improved agronomic practices, an yield of 8-10 kg per tree could be achieved.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Yield improvement via cross pollination: </a> &nbsp; It has been observed that <code>cross pollination</code> increases cashew yield substantially.
      The integration of beekeeping into cashew orchards has great potentials of increasing nut yields and also improving farmers’ income through the sale of hive products.
    </li>

    <li>
      <a href='http://getbootstrap.com/'>Grading and Packing: </a> &nbsp; Grading is done for export purposes based on "counts" or number of kernels per Lb. Sound kernels are named
      as "wholes" and broken ones as "splits". The wholes are again classified as whole white kernels, whole scorched kernels, whole dessert kernels.
      The wholes are packed in several grade viz., 210, 240, 280, 320, 400, 459 and 500; the popular grade is 320.
      The specifications for graded kernels are that they should be fully developed, Ivory white in colour and should be free from insect damage and black and brown spots.
      Packing is done in time by Vita pack method (exhausting the air inside the packing tin, pumping in carbondioxide and sealing)
    </li>
  </ul>
</div>

<br />

<div class='clearfix'></div>

<!-- Palm oil carousel -->
<div class="container">

  <h1>Palm Oil!</h1>

  <br />
  <app-palm-carousel></app-palm-carousel>
  <br />

  <p>
    Oil palm crop is one of the highest oil yielding crops among all perennial crops. Oil palm tree produces edible palm oil as well as
    palm kernel oil. Palm oil is naturally reddish in color because of a high beta-carotene content. It is not to be confused with palm kernel
    oil derived from the kernel of the same fruit. Palm oil is an edible vegetable oil derived from the mesocarp (reddish pulp) of the fruit of the
    oil palms, primarily the African oil palm <code>Elaeis guineensis</code>, and to a lesser extent from the American oil
    palm <code>Elaeis oleifera</code> and the maripa palm <code>Attalea maripa</code>. Palm oil is a common cooking ingredient in the tropical belt of Africa,
    Southeast Asia and parts of Brazil. Its use in the commercial food industry in other parts of the world is widespread because of its lower cost and the high
    oxidative stability (saturation) of the refined product when used for frying. Palm oil formed the basis of soap products, such as Lever Brothers' (now Unilever) "Sunlight" soap,
    and the American Palmolive brand.
  </p>
  <p>
    With <code>global demand increasing</code>, Africa has become the new frontier of industrial palm oil production. As the industry sets its sights on Africa,
    how can we ensure the mistakes of the past are not repeated?
  </p>
  <ul>
    <li>
      <a href='https://get.asp.net/'>Soil: </a> &nbsp; The most suitable soil texture for oil palm plantation is sandy clay and silty clay. This type of soil texture is poorly
      drain thus can help to maintain the soil around oil palm trees to be in a moist environment. This soil texture also can stores sufficient water and plant nutrients.
      Desirable soil pH is 5.5 – 6.5.
    </li>
    <li>
      <a href='https://angular.io/'>Climate: </a> &nbsp;Oil palm is a humid tropical crop and thrives best in the areas where temperature ranges from
      22 to 24 deg C (minimum) and 20 to 33 deg C (maximum). They require at least 5 to 6 hours of bright sunshine per day and 80% of humidity for optimum
      growth. This crop requires annual evenly distributed rainfall of 2500 to 4000 mm or 200 to 300 mm monthly.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Varieties: </a>  &nbsp;Elaeis guineensis is a species of palm commonly called African oil palm or macaw-fat. It is
      the principal source of palm oil Oil and extracted from both the pulp of the fruit (palm oil, an edible oil) and the kernel (palm kernel oil, used in
      foods and for soap manufacture). Researchers have developed hybrid types yielding more than 20 tons/ha and shorter heights.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Land Preparation: </a>  &nbsp;Oil palms are normally planted after land clearing and land preparation work, which includes lining,
      holing and terracing if the terrain is hilly. In low-lying areas, drainage would also be necessary.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Layout and Planting: </a>  &nbsp;Healthy seeding of 12 to 15 months age old with at least 1 meter height and 12 to 13 functional
      leaves are recommended in the oil palm tree cultivation. In conventional triangular planting, spacing is 9m x 9m x9m whereas in a rectangular planting, it is 9m x 9m.
      Some farmers are using high density planting (7m x 7m) with 200 trees/ha.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Manuring: </a>  &nbsp;Oil palms require a balanced and sufficient supply of micro, macro, and secondary nutrients for high production of
      palm oil.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Weeding: </a>  &nbsp;Regular manual weeding or chemical weeding can be carried out in oil palm cultivation. However, chemical weeding
      should be done only with recommended herbicides.
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Inter-Cropping: </a>  &nbsp;Regular manual weeding or chemical weeding can be carried out in oil palm cultivation. However, chemical weeding
      should be done only with recommended herbicides.
    </li>
  </ul>

</div>

<br />

